<a href="https://colab.research.google.com/github/jmlly/curso-machine-learning/blob/main/Atv03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Atividade 3

Listas, Tuplas e dicionários

1.

In [ ]:
palavras = ["codigo","linguagem","web"]
numeros = [18,123]
vazia = []
lista_mista = ["oi", 2.0, 5*2, [10, 20]]

In [ ]:
print(numeros) #imprimindo a lista
print(lista_mista) #imprimindo a lista
nova_lista = [numeros, palavras] #criando uma lista que contem duas listas
print(nova_lista) #imprimindo a lista

[18, 123]
['oi', 2.0, 10, [10, 20]]
[[18, 123], ['codigo', 'linguagem', 'web']]

2.

In [ ]:
uma_lista = ["oi", 2.0, 5, [10, 20]]
print(len(uma_lista)) #contando a quantidade de elementos da lista
print(len(['spam!', 1, ['bolo', 'bolacha', 'biscoito'], [1, 2, 3]])) #contando a quantidade de elementos da lista

4
4

3.

In [ ]:
numeros = [18, 424, 86, 13, 66, 8338, 74]
print(numeros[2]) #imprime o elemento que está na posição 2
print(numeros[9-8]) #faz a subtração e imprime o que está na posição do resultado
print(numeros[-2]) #inverte a ordem
print(numeros[len(numeros)-1]) #imprime o ultimo numero

86
424
8338
74

4.

In [ ]:
uma_lista = [3, 5, "Cibele", 3.14, False]
print(len(uma_lista))

5

5.

In [ ]:
uma_lista = [3, 5, "Cibele", [88, 99, "Suely"], [ ], 3.14, False]
print(len(uma_lista)) #conta todos os elementos, cada lista vale apenas por um.

7

6.

In [ ]:
uma_lista = [3, 5, "Cibele", [88, 99, "Suely"], [ ], 3.14, False]
print(uma_lista[5])

3.14

7.

In [ ]:
uma_lista = [3, 5, "Cibele", [88, 99, "Suely"], [ ], 3.14, False]
print(uma_lista[2].upper()) #coloca a string em letra maiuscula

CIBELE

8.

In [ ]:
uma_lista = [3, 5, "Cibele", [88, 99, "Suely"], [ ], 3.14, False]
print(uma_lista[2][0]) #????

C

9.

In [15]:
uma_lista = [3, 5, "Cibele", [88, 99, "Suely"], [ ], 3.14, False]
print(3.14 in uma_lista) #verifica se o 3.14 faz parte da lista

True

10.

In [16]:
uma_lista = [3, 5, "Cibele", [88, 99, "Suely"], [ ], 3.14, False]
print(88 in uma_lista) #por estar dentro de outra lista, não é contado.

False

11.

In [17]:
uma_lista = [1, 3, 5]
outra_lista = [2, 4, 6]
print(uma_lista + outra_lista) #junta as listas

[1, 3, 5, 2, 4, 6]

12.

In [18]:
uma_lista = [1, 3, 5]
print(uma_lista * 3) #repete 3 vezes

[1, 3, 5, 1, 3, 5, 1, 3, 5]

13.

In [19]:
uma_lista = [3, 5, "Cibele", [88, 99, "Suely"], [ ], 3.14, False]
print(uma_lista[4:]) #a partir do 4 elemento até o ultimo

[[], 3.14, False]

14.

In [20]:
uma_lista = ['a', 'b', 'c', 'd', 'e', 'f']
uma_lista[1:3] = ['x', 'y'] #substitui os elementos 1 e 2
print(uma_lista)

['a', 'x', 'y', 'd', 'e', 'f']

15.

In [21]:
uma_lista = ['a', 'b', 'c', 'd', 'e', 'f']
uma_lista[1:3] = [] #substitui os elementos 1 e 2 pela lista vazia
print(uma_lista)

['a', 'd', 'e', 'f']

16.

In [23]:
uma_lista = ['a', 'd', 'f']
uma_lista[1:1] = ['b', 'c'] #adiciona esses elementos na posição 1
print(uma_lista)
uma_lista[4:4] = ['e'] #adiciona esses elementos na posição 4
print(uma_lista)

['a', 'b', 'c', 'd', 'f']
['a', 'b', 'c', 'd', 'e', 'f']

17.

In [24]:
uma_lista = [4, 1, 8, 6, 3]
uma_lista[2] = True
print(uma_lista)

[4, 1, True, 6, 3]

18.

In [25]:
a = ['um', 'dois', 'três']
del a[1] #deleta 'dois'
print(a)
lista = ['a', 'b', 'c', 'd', 'e', 'f'] 
del lista[1:5] #deleta de 1 ao 4
print(lista)

['um', 'três']
['a', 'f']

19.

In [26]:
lista_a = [4, 1, 8, 6, 3]
lista_b = lista_a 
lista_b[3] = 22 #substitui o 6 por 22
print(lista_a)

[4, 1, 8, 22, 3]

20.

In [27]:
lista_original = [5, 6, 7, 8] #repete os elementos da lista 3 vezes
print(lista_original*3)

[5, 6, 7, 8, 5, 6, 7, 8, 5, 6, 7, 8]

21.

In [28]:
lista_nova = [lista_original] * 3 #repete a lista 3 vezes
print(lista_nova)

[[5, 6, 7, 8], [5, 6, 7, 8], [5, 6, 7, 8]]

22.

In [29]:
lista_original = [5, 6, 7, 8]
lista_nova = [lista_original] * 3
print(lista_nova)
lista_original[1] = 22 #substitui o 6 por 22 em cada vez que ele aparece na posição 1 da lista original
print(lista_nova)

[[5, 6, 7, 8], [5, 6, 7, 8], [5, 6, 7, 8]]
[[5, 22, 7, 8], [5, 22, 7, 8], [5, 22, 7, 8]]

23.

In [30]:
lista_a = [4, 1, 8, 6, 3]
lista_b = lista_a * 2 #repete a lista 2 vezes
lista_b[3] = 35 #substitui o 6 por 35 na lista b
print(lista_a) #não altera a lista a

[4, 1, 8, 6, 3]

24.

In [31]:
lista_a = [4, 1, 8, 6, 3]
lista_b = [lista_a] * 2
lista_a[3] = 35 #substitui o 6 por 35
print(lista_b) #imprime já com a alteração

[[4, 1, 8, 35, 3], [4, 1, 8, 35, 3]]

25.

In [32]:
uma_lista = [4, 1, 8, 6, 3]
uma_lista.append(True) #.apende insere um valor na lista
uma_lista.append(False) #.apende insere um valor na lista
print(uma_lista)

[4, 1, 8, 6, 3, True, False]

26.

In [33]:
uma_lista = [4, 1, 8, 6, 3]
uma_lista.insert(2,True) #insere o valor na posição determinada
uma_lista.insert(0,False)
print(uma_lista)

[False, 4, 1, True, 8, 6, 3]

27.

In [51]:
uma_lista = [4, 1, 8, 6, 3]
temp = uma_lista.pop(2) #remove o elemento no posição 2 (8)
temp = uma_lista.pop() #remove o ultimo item
print(uma_lista)

[4, 1, 6]

28.

In [50]:
uma_lista = [4, 1, 8, 6, 3]
uma_lista = uma_lista.pop(0) 
print(uma_lista)

4

**String**

1.

In [53]:
nome = str(input("Nome: "))
print(nome[-1:-(len(nome)+1):-1].upper()) #o len coloca a quantidade de caracteres inseridos para ser contado, o -1 inverte a ordem e o .upper deixa maiusculo.

Nome: jamilly
YLLIMAJ

2.

In [54]:
nome = str(input("Nome: "))
print(nome[::-1].upper()) #inverte a ordem dos caracteres e deixa em maiusculo

Nome: jamilly
YLLIMAJ

3.

In [55]:
print(list(range(1000))) #cria uma sequencia de numeros ate 999
print(list(range(0, 300, 5)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259, 260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272, 273, 274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285, 286, 287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298, 299, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 312, 313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324, 325, 326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337, 338, 339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350, 351, 352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363, 364, 365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376, 377, 378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389, 390, 391, 392, 393, 394, 395, 396, 397, 398, 399, 400, 401, 402, 403, 404, 405, 406, 407, 408, 409, 410, 411, 412, 413, 414, 415, 416, 417, 418, 419, 420, 421, 422, 423, 424, 425, 426, 427, 428, 429, 430, 431, 432, 433, 434, 435, 436, 437, 438, 439, 440, 441, 442, 443, 444, 445, 446, 447, 448, 449, 450, 451, 452, 453, 454, 455, 456, 457, 458, 459, 460, 461, 462, 463, 464, 465, 466, 467, 468, 469, 470, 471, 472, 473, 474, 475, 476, 477, 478, 479, 480, 481, 482, 483, 484, 485, 486, 487, 488, 489, 490, 491, 492, 493, 494, 495, 496, 497, 498, 499, 500, 501, 502, 503, 504, 505, 506, 507, 508, 509, 510, 511, 512, 513, 514, 515, 516, 517, 518, 519, 520, 521, 522, 523, 524, 525, 526, 527, 528, 529, 530, 531, 532, 533, 534, 535, 536, 537, 538, 539, 540, 541, 542, 543, 544, 545, 546, 547, 548, 549, 550, 551, 552, 553, 554, 555, 556, 557, 558, 559, 560, 561, 562, 563, 564, 565, 566, 567, 568, 569, 570, 571, 572, 573, 574, 575, 576, 577, 578, 579, 580, 581, 582, 583, 584, 585, 586, 587, 588, 589, 590, 591, 592, 593, 594, 595, 596, 597, 598, 599, 600, 601, 602, 603, 604, 605, 606, 607, 608, 609, 610, 611, 612, 613, 614, 615, 616, 617, 618, 619, 620, 621, 622, 623, 624, 625, 626, 627, 628, 629, 630, 631, 632, 633, 634, 635, 636, 637, 638, 639, 640, 641, 642, 643, 644, 645, 646, 647, 648, 649, 650, 651, 652, 653, 654, 655, 656, 657, 658, 659, 660, 661, 662, 663, 664, 665, 666, 667, 668, 669, 670, 671, 672, 673, 674, 675, 676, 677, 678, 679, 680, 681, 682, 683, 684, 685, 686, 687, 688, 689, 690, 691, 692, 693, 694, 695, 696, 697, 698, 699, 700, 701, 702, 703, 704, 705, 706, 707, 708, 709, 710, 711, 712, 713, 714, 715, 716, 717, 718, 719, 720, 721, 722, 723, 724, 725, 726, 727, 728, 729, 730, 731, 732, 733, 734, 735, 736, 737, 738, 739, 740, 741, 742, 743, 744, 745, 746, 747, 748, 749, 750, 751, 752, 753, 754, 755, 756, 757, 758, 759, 760, 761, 762, 763, 764, 765, 766, 767, 768, 769, 770, 771, 772, 773, 774, 775, 776, 777, 778, 779, 780, 781, 782, 783, 784, 785, 786, 787, 788, 789, 790, 791, 792, 793, 794, 795, 796, 797, 798, 799, 800, 801, 802, 803, 804, 805, 806, 807, 808, 809, 810, 811, 812, 813, 814, 815, 816, 817, 818, 819, 820, 821, 822, 823, 824, 825, 826, 827, 828, 829, 830, 831, 832, 833, 834, 835, 836, 837, 838, 839, 840, 841, 842, 843, 844, 845, 846, 847, 848, 849, 850, 851, 852, 853, 854, 855, 856, 857, 858, 859, 860, 861, 862, 863, 864, 865, 866, 867, 868, 869, 870, 871, 872, 873, 874, 875, 876, 877, 878, 879, 880, 881, 882, 883, 884, 885, 886, 887, 888, 889, 890, 891, 892, 893, 894, 895, 896, 897, 898, 899, 900, 901, 902, 903, 904, 905, 906, 907, 908, 909, 910, 911, 912, 913, 914, 915, 916, 917, 918, 919, 920, 921, 922, 923, 924, 925, 926, 927, 928, 929, 930, 931, 932, 933, 934, 935, 936, 937, 938, 939, 940, 941, 942, 943, 944, 945, 946, 947, 948, 949, 950, 951, 952, 953, 954, 955, 956, 957, 958, 959, 960, 961, 962, 963, 964, 965, 966, 967, 968, 969, 970, 971, 972, 973, 974, 975, 976, 977, 978, 979, 980, 981, 982, 983, 984, 985, 986, 987, 988, 989, 990, 991, 992, 993, 994, 995, 996, 997, 998, 999]
[0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100, 105, 110, 115, 120, 125, 130, 135, 140, 145, 150, 155, 160, 165, 170, 175, 180, 185, 190, 195, 200, 205, 210, 215, 220, 225, 230, 235, 240, 245, 250, 255, 260, 265, 270, 275, 280, 285, 290, 295]

4.

In [56]:
dict1 = {'a':1,'b':2} #adiciona valores as chaves
dict2 = {'c':4,'d':5} #adiciona valores as chaves
listaDict = [(list(dict1)), list(dict1.values()),list(dict2), list(dict2.values())] #imprime as chaves da dict1/os valores dict1 e a dict2/valores da dict2
dict3={}
print(listaDict)

[['a', 'b'], [1, 2], ['c', 'd'], [4, 5]]

5.

In [57]:
s = "Hello, World"
print(s.upper()) #coloca em maiusculo
t = s.lower() #coloca em minusculo
print(t)

HELLO, WORLD
hello, world

6.

In [58]:
s = "python"
e = "!"
print(s+e*3) #repete a variavel "e" 3 vezes

python!!!

7.

In [62]:
ss = " Hello, World "
xx = ss.count("l") #conta quantos l tem na variavel
print(xx)
print("***"+ss.strip()+"***")
print("***"+ss.lstrip()+"***")#espaço no ultimo caractere
print("***"+ss.rstrip()+"***")#espaço no primeiro caractere
news = ss.replace("o", "***") #substitui a letra o por ***
print(news)

3
***Hello, World***
***Hello, World ***
*** Hello, World***
 Hell***, W***rld

8.

In [63]:
# estrelas foram incluídas para mostrar limites
food = "banana bread"
print(food.capitalize()) #coloca a primeira letra em maiusculo e as demais em minusculo
print("*"+food.center(25)+"*") #centraliza a string com 25 px
print("*"+food.ljust(25)+"*") #justifica a string pela esquerda
print("*" +food.rjust(25)+"*") #justifica a string pela direita

Banana bread
*       banana bread      *
*banana bread             *
*             banana bread*

9.

In [64]:
print(food.find("e")) #encontra a posição do caractere na string
print(food.find("na"))
print(food.find("b"))
print(food.rfind("e"))
print(food.rfind("na"))
print(food.rfind("b"))

9
2
0
9
4
7

10.

In [65]:
s = "python rocks"
print(s[1]*s.index("n")) #coloca y até a posição do n

yyyyy

11.

In [66]:
pets = "Marlene, Cibele, Suely"
print(pets[0:5]) #acesso direto aos caracteres
print(pets[7:11])
print(pets[17:21])

Marle
, Ci
Suel

12.

In [67]:
print('a' in 'a') #in atua como pergunta booleana
print('apple' in 'apple')
print('' in 'a')
print(' ' in 'apple')

True
True
True
False

13.

In [68]:
print('x' not in 'apple') #in atua como pergunta booleana

True