<a href="https://colab.research.google.com/github/jmlly/curso-machine-learning/blob/main/Aula02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
idade1 = 20

In [ ]:
idade2 = 35

In [ ]:
idade1 + idade2

In [ ]:
somaIdades = idade1 + idade2

In [ ]:
idade1 + 10

In [ ]:
idade1 - 15

In [ ]:
2 * (idade1 + idade2)

In [ ]:
2*idade1+3*idade2/4

In [ ]:
(2*idade1 + 3 * idade2)/4

In [ ]:
idade1 ** 2

In [ ]:
15 ** 2

In [ ]:
idade2 // idade1

In [ ]:
idade2 / idade1

In [ ]:
idade2 % idade1

In [ ]:
nome = 'Camila'
sobrenome = 'Dantas'

In [ ]:
print(nome + sobrenome)

In [ ]:
print(nome + ' ' + sobrenome)

In [ ]:
print('Olá, ', nome, 'você tem ', idade1 + 15, 'anos.')

In [ ]:
print('Olá,',nome,'','\nvocê tem', idade1 + 15, 'anos.')

In [ ]:
input('Digite o seu nome: ')

In [ ]:
nome = input('Digite o seu nome: ')

In [ ]:
idade = int(input('Digite sua idade: '))

In [ ]:
idade + idade1

In [ ]:
valor1 = input('Digite um número inteiro: ')
valor2 = input('Digite outro número inteiro: ')

In [ ]:
print(valor1 == valor2)
print(valor1 > valor2)
print(valor1 < valor2)
print(valor1 >= valor2)
print(valor1 <= valor2)

In [ ]:
numero = 10
print(numero > 0 and numero < 10)

In [ ]:
numero = 10
print(numero > 0 or numero < 10)

In [ ]:
#estrutura básica
if( ):
  print()
else:
  print()

In [ ]:
#desafio

num = int(input('Digite um número inteiro: '))
if(num % 2 == 0):
  print('O número inserido é par')
else: 
  print('O número inserido é ímpar.')

In [ ]:
cupom = input('Digite o cupom: ')

In [ ]:
if (cupom == 'aula1' or cupom == 'aula2'):
  print('você ganhou 10% de desconto.')
else:
  print('cupom não reconhecido.')

In [ ]:
#desafio 2
cupom = input('Digite o cupom: ')
if (cupom == 'aula1' or cupom == 'aula2'):
  print('você ganhou 15% de desconto.')
else:
  print('você ganhou 5% de desconto.')

In [ ]:
#desafio 3
cupom = input('Digite o cupom: ')
if (cupom == 'aula1'):
  print('você ganhou 15% de desconto.')
elif (cupom == 'aula2'):
  print('você ganhou 10% de desconto')
else:
  print('você ganhou 5% de desconto.')

In [ ]:
if (1==1):
  print('mensagem no segundo nível')
  if((1==2)== False):
    print('mensagem do terceiro nível')

In [ ]:
#desafio 4
sol = input('Está fazendo sol? [s/n] ')
din = input('você tem dinheiro? [s/n] ')
if(sol == 's' and din == 's'):
  print('praiou!!')
else:
  print('hoje é dia de netflix...')

In [ ]:
#desafio 5
sol = input('Está fazendo sol? [s/n] ')
din = input('você tem dinheiro? [s/n] ')
if(sol == 's' or din == 's'):
  print('praiou!!')
else:
  print('hoje é dia de netflix...')

In [ ]:
#desafio 6
sol = input('Está fazendo sol? [s/n] ')
din = input('você tem dinheiro? [s/n] ')
if(sol == 's'):
  if (din == 's'):
    print('praiou!!')
  else:
    print('hoje é dia de netflix...')
else:
  print('hoje é dia de netflix...')

In [ ]:
x = 2
if (0 < x < 5):
  print(x)

In [ ]:
#Prática 1
valor = float(input('digite o preço do carro: '))
ano = float(input('ano em que o carro foi fabricado: '))
if (ano < 1990):
  print('O imposto será igual a', (1.0/100 * valor),'reais')
else:
  print('O imposto será igual a', (1.5/100 * valor),'reais')

digite o preço do carro: 50000
ano em que o carro foi fabricado: 1999
O imposto será igual a 750.0 reais

In [ ]:
#Prática 2

print('Digite o número equivalente ao cargo\nGerente - 101\nEngenheiro - 102\nTécnico - 103\n')
codigo = int(input('Digite o valor correspondente: '))
if (codigo == 101):
  valor = int(input('Digite o valor do salario: '))
  print('O funcionário receberá um aumento de 10% e seu novo salário será', (10/100 * valor) + valor,'reais', )
elif (codigo == 102):
  valor = int(input('Digite o valor do salario: '))
  print('O funcionário receberá um aumento de 20% e seu novo salário será', (20/100 * valor) + valor,'reais', )
elif (codigo == 103):
  valor = int(input('Digite o valor do salario: '))
  nValor
  print('O funcionário receberá um aumento de 30% e seu novo salário será', (30/100 * valor) + valor,'reais', )

Digite o número equivalente ao cargo
Gerente - 101
Engenheiro - 102
Técnico - 103

Digite o valor correspondente: 103
Digite o valor do salario: 10000
O funcionário receberá um aumento de 30% e seu novo salário será 13000.0 reais